// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');
$base-font: 'Poppins','Helvetica New', Arial, sans-serif;

// colors
$clementine: #FF7C38;
$main: #FFC468;
$butter: #F5F9EE;
$shadow: #F35B25;
$charcoal: #303841;
$gray: #777;

$white: #EEFFFF;

$links: #264E86;
$hover: #0072FF;
$active: #E84A5F;
$visited: #70198A;