<h2>Projects</h2>
<ul>
  <% @projects.each do |project|%>
    <li>
      <ul>
        <li><%= link_to project.name, edit_project_path(project) %></li>
        <li><%= link_to project.total_hours %></li>
      </ul>
    </li>
  <% end %>
</ul>