@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');

body, input {
  font-family: 'Poppins','Helvetica New', Arial, sans-serif;
  background: #D6E3FC;
  font-size: 18px;
}

body {
  color: #303841;
}

input {
  display: block;
  border: 0;
  background-color: #FFF;
  padding: 1em;
}

.wrapper input {
  width: 80%;
}

@media screen and (min-width: 798px) {
  input {
    display: inline-block;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0 0.375em 0.75em #B8C7E6, 0.375em 0 0.75em #B8C7E6, -0.375em 0 0.75em #B8C7E6;
}

header, .main {
  padding: 2em;
}

header {
  background: #FFF;
  text-align: center;
}

header p {
  margin: 0.375em 0;
}

.main {
  background: #EEF4FF;
}

nav {
  width: 100%;
  text-align: center;
}

ul { 
   list-style-type: none;
   padding-left: 0;
}

ul li {
  display: inline;
}

nav ul li a {
  display: block;
  margin: 0.5em auto;
  border: 2px solid #0881A3;
}

@media screen and (min-width: 798px) {
  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding: 1em 2em;
  }
}

a {
  color: #0072FF;
  text-decoration: none;
  padding: .375em .5em;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

.logo {
  text-align: center;
  color: #264E86;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: #303841;
  padding: 0;
  font-size: 1.375em;
}

a:hover {
  color: #264E86;
}

.logo a:hover, li a:hover {
  background-color: #EEE;
  color: #264E86;
}

nav ul li a:hover {
  background-color: #0881A3;
  color: #FFF;
  cursor: pointer;
}

a:active {
  color: #E84A5F;
}

.logo a:active, li a:active {
  color: #E84A5F;
}

/*a:visited {
  color: #0881A3;
}*/

footer {
  background-color: #303841;
  color: #FFF;
  font-size: 0.75em;
  padding: 1em;
  text-align: center;
}